.navbar {
	display: flex;
	align-items: center;

	.logo {
		height: 80px;
		max-width: none; // Hago esto porque al poner el NavLink React hizo que mi imagen tenga un max-width del 100%. Con esto se arregla
	}

	.titulo {
		font-weight: 400;
		width: 15rem;
	}

	.links {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	Button {
		background-color: #101010;
		margin: 0 1rem;
	}
}
