.navbar {
	display: flex;
	align-items: center;

	.logo {
		height: 80px;
	}

	.links {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	Button {
		background-color: transparent;
		margin: 0 1rem;
		color: black;
		border-color: black;
	}
}
