.item-count {
	max-width: 330px;

	.botones {
		display: flex;
		flex-direction: row;
		align-items: center;

		Input {
			height: 2rem;
			text-align: center;
		}

		Button {
			width: 2rem;
			height: 2rem;
			margin: 0 0.5rem;
		}
	}

	.container-agregar {
		margin: 1rem 0;
	}
}
